.rootApp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.app {
  height: 78.7vh;
  display: flex;
  width: 150vw;
  text-align: center;
  background-color: azure;
  align-items: center;
  justify-content: center;
  color: beige;
  font-weight: 700;
  transition: all 1s;
  font-size: 40px;
  text-decoration-line: none;
}
.app:hover {
  color: rgb(17, 0, 173);
}
.right {
  background: rgb(74, 92, 188);
}
.left {
  background: rgb(188, 74, 133);
}
a:link {
  text-decoration: none;
}
